<div class="content-wrapper grid-inner">
  <div class="full-container">
    <div class="logo"><img src="src/assets/images/blue.png" /></div>
    <div id="main-content">
      <div class="main-content-left">
        <div class="headline-content">
          <h1>Report an Injury</h1>
        </div>
      </div>
      <div class="main-content-right">
        <div class="sign-in">
          <h4>Sign in with Uport.</h4>
          <button mat-raised-button color="primary">
            Launch Uport
          </button>
          <button mat-button color="primary">What is Uport?</button>
        </div>
      </div>
    </div>
  </div>
</div>