/* You can add global styles to this file, and also import other style files */
@import 'normalize.css/normalize.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'mixins';
@import 'color';
@import 'typography';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

body {
    background-color: white;
    color: #2c2c2c;
}
.grid-inner {
    @include mdc-inner();
    max-width: 1256px;
  }
  .form-container {
    @include mdc-cell(8,9,8,8,4);
  }
  .full-container {
    @include mdc-cell(12,12,10,8,4);
  }
  .short-wrapper {
    @include mdc-cell(3,3,4,3,2);
  }
  .medium-wrapper {
    @include mdc-cell(6,6,5,4,4);
  }
  .large-wrapper {
    @include mdc-cell(9,9,7,6,4);
  }
#top-bar {
  width: 100%;
  height: 2.6em;
  background-color: #E9E9E9;
  color: black;
  padding: .2em .6em;
  box-sizing: border-box;
  .contact {
      float:right;
      font-size: 1.2em;
      padding-top: .3rem;
  }
}
footer {
  height: 2.4rem;
  padding-top: .6rem;
  text-align: center;
  color: white;
  font-size: .9rem;
  background-color: #066080;
  bottom: 0;
  width: 100%;
}


// App
.content-wrapper {
  padding-top: 2em;
  margin: 0 auto 6rem;
  background-color: white;
}
#main-content {
  width: 100%;
  clear:both;
  height: 427px;
  display: grid;
  position: relative;
  .main-content-left {
      grid-column-start: 1;
      grid-column-end: 6;
      z-index: 4;
      

      .headline-content {
          position: absolute;
          border-top: 2px solid $primary;
          border-left: 2px solid $primary;
          top: 5em;
          left: 7em;
          z-index: 10;
          h1 {
              padding-top:1.2em;
              padding-left: 1.2em;
          }
      }
  }
  .main-content-right {
      grid-column-start: 7;
      grid-column-end: 12;
      position: relative;
      
  }
}